<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%-5level %logger{36} \(%file:%line\) %msg%ex{full}%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="info" />
    <logger name="io.github.chadj2.mesh" level="info" />
    <logger name="io.github.chadj2.mesh.buffer" level="info" />
    
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
